In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import geopandas as gpd
import seaborn as sns
import matplotlib.pyplot as plt

from pathlib import Path
import openpyxl as xl
from datetime import timedelta
import numpy as np

/home/abbymoreno/miniconda3/envs/lacuna-fund/lib/python3.9/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [3]:
import sys

sys.path.append("../../")
from src.model_data_prep import create_outbreak_summary

# LGU Health Data Preparation

In this notebook, we will be aggregating and processing the LGU dengue dataset for one city in preparation for model development. Steps taken are:

1. Filter data to contain only the target city, date range, and disease
2. Get the `start_of_week` date from each `DAdmit` (admission date) from the dataset.
3. Create bins for ages.
4. Attach PSGC codes using string matching.
5. Visualize cases to inspect which features we can aggregate to join for the model development.
6. Define the threshold and labeling each week as outbreak or no outbreak.

At the end, we create an outbreak summary table containing all of the detected outbreak events, start and end date, and length in weeks.

In [4]:
LGU_DIR = Path("../../data/02-raw/health/LGU/Zamboanga/")
RAW_DIR = Path("../../data/02-raw/health/")
PROCESSED_DIR = Path("../../data/03-processed/health/")

ADMIN_BOUNDS = Path("../../data/01-admin-bounds/target_admin_bounds.shp")

## Load disease outcomes table

In [5]:
# load excel file and check sheet names
cases_df = pd.read_csv(RAW_DIR / "em_pidsr_fhsis.csv")
cases_df = cases_df.drop(columns=["Unnamed: 0"])
cases_df["Date"] = pd.to_datetime(cases_df["Date"])
cases_df.head()

,Source,Year,Month,Week,Date,Region,PSGC_Region,Municipality,PSGC_Municipality,ICD,Disease,Cases,Claims,Deaths,Case_Type,Date_Type
0,PIDSR-DOH,2008.0,1.0,1,2008-01-07,NCR,PH130000000,Mandaluyong City,PH137401000,A00,CHOLERA,0.0,NaN,NaN,Morbidity,Weekly
1,PIDSR-DOH,2008.0,1.0,1,2008-01-07,NCR,PH130000000,Mandaluyong City,PH137401000,A90-A91,"FEVER, DENGUE",NaN,NaN,NaN,Morbidity,Weekly
2,PIDSR-DOH,2008.0,1.0,1,2008-01-07,NCR,PH130000000,Mandaluyong City,PH137401000,A01,"FEVER, TYPHOID",1.0,NaN,NaN,Morbidity,Weekly
3,PIDSR-DOH,2008.0,1.0,1,2008-01-07,NCR,PH130000000,Mandaluyong City,PH137401000,NaN,"GASTROENTERITIS AND COLITIS, INFECTIOUS ORIGIN...",NaN,NaN,NaN,Morbidity,Weekly
4,PIDSR-DOH,2008.0,1.0,1,2008-01-07,NCR,PH130000000,Mandaluyong City,PH137401000,B15,"HEPATITIS, TYPE A, ACUTE",0.0,NaN,NaN,Morbidity,Weekly

## Filter table to specifications

In [6]:
dengue_mask = cases_df["Disease"].str.contains("DENGUE")
pidsr_mask = cases_df["Source"] == "PIDSR-DOH"
dengue_df = cases_df[dengue_mask]
dengue_df

,Source,Year,Month,Week,Date,Region,PSGC_Region,Municipality,PSGC_Municipality,ICD,Disease,Cases,Claims,Deaths,Case_Type,Date_Type
1,PIDSR-DOH,2008.0,1.0,1,2008-01-07,NCR,PH130000000,Mandaluyong City,PH137401000,A90-A91,"FEVER, DENGUE",NaN,NaN,NaN,Morbidity,Weekly
8,PIDSR-DOH,2008.0,1.0,1,2008-01-07,NCR,PH130000000,Muntinlupa City,PH137603000,A90-A91,"FEVER, DENGUE",NaN,NaN,NaN,Morbidity,Weekly
15,PIDSR-DOH,2008.0,1.0,1,2008-01-07,NCR,PH130000000,Navotas City,PH137503000,A90-A91,"FEVER, DENGUE",7.0,NaN,NaN,Morbidity,Weekly
22,PIDSR-DOH,2008.0,1.0,1,2008-01-07,Region I,PH010000000,Dagupan City,PH015518000,A90-A91,"FEVER, DENGUE",NaN,NaN,NaN,Morbidity,Weekly
29,PIDSR-DOH,2008.0,1.0,1,2008-01-07,Region III,PH030000000,Palayan City,PH034919000,A90-A91,"FEVER, DENGUE",1.0,NaN,NaN,Morbidity,Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74938,FHSIS_Zamboanga,2021.0,9.0,35,2021-08-23,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",3.0,NaN,NaN,Morbidity,Monthly
74943,FHSIS_Zamboanga,2021.0,10.0,39,2021-09-20,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",0.0,NaN,NaN,Morbidity,Monthly
74948,FHSIS_Zamboanga,2021.0,11.0,44,2021-10-25,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",0.0,NaN,NaN,Morbidity,Monthly
74953,FHSIS_Zamboanga,2021.0,12.0,48,2021-11-22,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",0.0,NaN,NaN,Morbidity,Monthly
74972,FHSIS_Navotas_Morbidity_2018_2022,2022.0,1.0,1,2022-01-03,NCR,PH130000000,Navotas City,PH137503000,A90-A91,"FEVER, DENGUE",127.0,NaN,NaN,Morbidity,Monthly

In [7]:
# check if dates are in start of week already
dengue_df["Date"].unique()

array(['2008-01-07T00:00:00.000000000', '2008-01-14T00:00:00.000000000',
       '2008-01-21T00:00:00.000000000', '2008-01-28T00:00:00.000000000',
       '2008-02-04T00:00:00.000000000', '2008-02-11T00:00:00.000000000',
       '2008-02-18T00:00:00.000000000', '2008-02-25T00:00:00.000000000',
       '2008-03-03T00:00:00.000000000', '2008-03-10T00:00:00.000000000',
       '2008-03-17T00:00:00.000000000', '2008-03-24T00:00:00.000000000',
       '2008-03-31T00:00:00.000000000', '2008-04-07T00:00:00.000000000',
       '2008-04-14T00:00:00.000000000', '2008-04-21T00:00:00.000000000',
       '2008-04-28T00:00:00.000000000', '2008-05-05T00:00:00.000000000',
       '2008-05-12T00:00:00.000000000', '2008-05-19T00:00:00.000000000',
       '2008-05-26T00:00:00.000000000', '2008-06-02T00:00:00.000000000',
       '2008-06-09T00:00:00.000000000', '2008-06-16T00:00:00.000000000',
       '2008-06-23T00:00:00.000000000', '2008-06-30T00:00:00.000000000',
       '2008-07-07T00:00:00.000000000', '2008-07-14T00:00:00.000000000',
       '2008-07-21T00:00:00.000000000', '2008-07-28T00:00:00.000000000',
       '2008-08-04T00:00:00.000000000', '2008-08-11T00:00:00.000000000',
       '2008-08-18T00:00:00.000000000', '2008-08-25T00:00:00.000000000',
       '2008-09-01T00:00:00.000000000', '2008-09-08T00:00:00.000000000',
       '2008-09-15T00:00:00.000000000', '2008-09-22T00:00:00.000000000',
       '2008-09-29T00:00:00.000000000', '2008-10-06T00:00:00.000000000',
       '2008-10-13T00:00:00.000000000', '2008-10-20T00:00:00.000000000',
       '2008-10-27T00:00:00.000000000', '2008-11-03T00:00:00.000000000',
       '2008-11-10T00:00:00.000000000', '2008-11-17T00:00:00.000000000',
       '2008-11-24T00:00:00.000000000', '2008-12-01T00:00:00.000000000',
       '2008-12-08T00:00:00.000000000', '2008-12-15T00:00:00.000000000',
       '2008-12-22T00:00:00.000000000', '2009-01-05T00:00:00.000000000',
       '2009-01-12T00:00:00.000000000', '2009-01-19T00:00:00.000000000',
       '2009-01-26T00:00:00.000000000', '2009-02-02T00:00:00.000000000',
       '2009-02-09T00:00:00.000000000', '2009-02-16T00:00:00.000000000',
       '2009-02-23T00:00:00.000000000', '2009-03-02T00:00:00.000000000',
       '2009-03-09T00:00:00.000000000', '2009-03-16T00:00:00.000000000',
       '2009-03-23T00:00:00.000000000', '2009-03-30T00:00:00.000000000',
       '2009-04-06T00:00:00.000000000', '2009-04-13T00:00:00.000000000',
       '2009-04-20T00:00:00.000000000', '2009-04-27T00:00:00.000000000',
       '2009-05-04T00:00:00.000000000', '2009-05-11T00:00:00.000000000',
       '2009-05-18T00:00:00.000000000', '2009-05-25T00:00:00.000000000',
       '2009-06-01T00:00:00.000000000', '2009-06-08T00:00:00.000000000',
       '2009-06-15T00:00:00.000000000', '2009-06-22T00:00:00.000000000',
       '2009-06-29T00:00:00.000000000', '2009-07-06T00:00:00.000000000',
       '2009-07-13T00:00:00.000000000', '2009-07-20T00:00:00.000000000',
       '2009-07-27T00:00:00.000000000', '2009-08-03T00:00:00.000000000',
       '2009-08-10T00:00:00.000000000', '2009-08-17T00:00:00.000000000',
       '2009-08-24T00:00:00.000000000', '2009-08-31T00:00:00.000000000',
       '2009-09-07T00:00:00.000000000', '2009-09-14T00:00:00.000000000',
       '2009-09-21T00:00:00.000000000', '2009-09-28T00:00:00.000000000',
       '2009-10-05T00:00:00.000000000', '2009-10-12T00:00:00.000000000',
       '2009-10-19T00:00:00.000000000', '2009-10-26T00:00:00.000000000',
       '2009-11-02T00:00:00.000000000', '2009-11-09T00:00:00.000000000',
       '2009-11-16T00:00:00.000000000', '2009-11-23T00:00:00.000000000',
       '2009-11-30T00:00:00.000000000', '2009-12-07T00:00:00.000000000',
       '2009-12-14T00:00:00.000000000', '2009-12-21T00:00:00.000000000',
       '2010-01-04T00:00:00.000000000', '2010-01-11T00:00:00.000000000',
       '2010-01-18T00:00:00.000000000', '2010-01-25T00:00:00.000000000',
       '2010-02-01T00:00:00.000000000', '2010-02-08T00:00:00.000000000',
       '2010-02-15T00:00:00.000000000', '2010-02-22T00:00:00.000000000',
       '2010-03-01T00:00:00.000000000', '2010-03-08T00:00:00.000000000',
       '2010-03-15T00:00:00.000000000', '2010-03-22T00:00:00.000000000',
       '2010-03-29T00:00:00.000000000', '2010-04-05T00:00:00.000000000',
       '2010-04-12T00:00:00.000000000', '2010-04-19T00:00:00.000000000',
       '2010-04-26T00:00:00.000000000', '2010-05-03T00:00:00.000000000',
       '2010-05-10T00:00:00.000000000', '2010-05-17T00:00:00.000000000',
       '2010-05-24T00:00:00.000000000', '2010-05-31T00:00:00.000000000',
       '2010-06-07T00:00:00.000000000', '2010-06-14T00:00:00.000000000',
       '2010-06-21T00:00:00.000000000', '2010-06-28T00:00:00.000000000',
       '2010-07-05T00:00:00.000000000', '2010-07-12T00:00:00.000000000',
       '2010-07-19T00:00:00.000000000', '2010-07-26T00:00:00.000000000',
       '2010-08-02T00:00:00.000000000', '2010-08-09T00:00:00.000000000',
       '2010-08-16T00:00:00.000000000', '2010-08-23T00:00:00.000000000',
       '2010-08-30T00:00:00.000000000', '2010-09-06T00:00:00.000000000',
       '2010-09-13T00:00:00.000000000', '2010-09-20T00:00:00.000000000',
       '2010-09-27T00:00:00.000000000', '2010-10-04T00:00:00.000000000',
       '2010-10-11T00:00:00.000000000', '2010-10-18T00:00:00.000000000',
       '2010-10-25T00:00:00.000000000', '2010-11-01T00:00:00.000000000',
       '2010-11-08T00:00:00.000000000', '2010-11-15T00:00:00.000000000',
       '2010-11-22T00:00:00.000000000', '2010-11-29T00:00:00.000000000',
       '2010-12-06T00:00:00.000000000', '2010-12-13T00:00:00.000000000',
       '2010-12-20T00:00:00.000000000', '2011-01-03T00:00:00.000000000',
       '2011-01-10T00:00:00.000000000', '2011-01-17T00:00:00.000000000',
       '2011-01-24T00:00:00.000000000', '2011-01-31T00:00:00.000000000',
       '2011-02-07T00:00:00.000000000', '2011-02-14T00:00:00.000000000',
       '2011-02-21T00:00:00.000000000', '2011-02-28T00:00:00.000000000',
       '2011-03-07T00:00:00.000000000', '2011-03-14T00:00:00.000000000',
       '2011-03-21T00:00:00.000000000', '2011-03-28T00:00:00.000000000',
       '2011-04-04T00:00:00.000000000', '2011-04-11T00:00:00.000000000',
       '2011-04-18T00:00:00.000000000', '2011-04-25T00:00:00.000000000',
       '2011-05-02T00:00:00.000000000', '2011-05-09T00:00:00.000000000',
       '2011-05-16T00:00:00.000000000', '2011-05-23T00:00:00.000000000',
       '2011-05-30T00:00:00.000000000', '2011-06-06T00:00:00.000000000',
       '2011-06-13T00:00:00.000000000', '2011-06-20T00:00:00.000000000',
       '2011-06-27T00:00:00.000000000', '2011-07-04T00:00:00.000000000',
       '2011-07-11T00:00:00.000000000', '2011-07-18T00:00:00.000000000',
       '2011-07-25T00:00:00.000000000', '2011-08-01T00:00:00.000000000',
       '2011-08-08T00:00:00.000000000', '2011-08-15T00:00:00.000000000',
       '2011-08-22T00:00:00.000000000', '2011-08-29T00:00:00.000000000',
       '2011-09-05T00:00:00.000000000', '2011-09-12T00:00:00.000000000',
       '2011-09-19T00:00:00.000000000', '2011-09-26T00:00:00.000000000',
       '2011-10-03T00:00:00.000000000', '2011-10-10T00:00:00.000000000',
       '2011-10-17T00:00:00.000000000', '2011-10-24T00:00:00.000000000',
       '2011-10-31T00:00:00.000000000', '2011-11-07T00:00:00.000000000',
       '2011-11-14T00:00:00.000000000', '2011-11-21T00:00:00.000000000',
       '2011-11-28T00:00:00.000000000', '2011-12-05T00:00:00.000000000',
       '2011-12-12T00:00:00.000000000', '2011-12-19T00:00:00.000000000',
       '2012-01-02T00:00:00.000000000', '2012-01-09T00:00:00.000000000',
       '2012-01-16T00:00:00.000000000', '2012-01-23T00:00:00.000000000',
       '2012-01-30T00:00:00.000000000', '2012-02-06T00:00:00.000000000',
       '2012-02-13T00:00:00.000000000', '2012-02-20T00:00:00.000000000',
       '2012-02-27T00:00:00.000000000', '2012-03-05T00:00:00.000000000',
       '2012-03-12T00:00:00.000000000', '2012-03-19T00:00:00.000000000',
       '2012-03-26T00:00:00.000000000', '2012-04-02T00:00:00.000000000',
       '2012-04-09T00:00:00.000000000', '2012-04-16T00:00:00.000000000',
       '2012-04-23T00:00:00.000000000', '2012-04-30T00:00:00.000000000',
       '2012-05-07T00:00:00.000000000', '2012-05-14T00:00:00.000000000',
       '2012-05-21T00:00:00.000000000', '2012-05-28T00:00:00.000000000',
       '2012-06-04T00:00:00.000000000', '2012-06-11T00:00:00.000000000',
       '2012-06-18T00:00:00.000000000', '2012-06-25T00:00:00.000000000',
       '2012-07-02T00:00:00.000000000', '2012-07-09T00:00:00.000000000',
       '2012-07-16T00:00:00.000000000', '2012-07-23T00:00:00.000000000',
       '2012-07-30T00:00:00.000000000', '2012-08-06T00:00:00.000000000',
       '2012-08-13T00:00:00.000000000', '2012-08-20T00:00:00.000000000',
       '2012-08-27T00:00:00.000000000', '2012-09-03T00:00:00.000000000',
       '2012-09-10T00:00:00.000000000', '2012-09-17T00:00:00.000000000',
       '2012-09-24T00:00:00.000000000', '2012-10-01T00:00:00.000000000',
       '2012-10-08T00:00:00.000000000', '2012-10-15T00:00:00.000000000',
       '2012-10-22T00:00:00.000000000', '2012-10-29T00:00:00.000000000',
       '2012-11-05T00:00:00.000000000', '2012-11-12T00:00:00.000000000',
       '2012-11-19T00:00:00.000000000', '2012-11-26T00:00:00.000000000',
       '2012-12-03T00:00:00.000000000', '2012-12-10T00:00:00.000000000',
       '2012-12-17T00:00:00.000000000', '2013-01-07T00:00:00.000000000',
       '2013-01-14T00:00:00.000000000', '2013-01-21T00:00:00.000000000',
       '2013-01-28T00:00:00.000000000', '2013-02-04T00:00:00.000000000',
       '2013-02-11T00:00:00.000000000', '2013-02-18T00:00:00.000000000',
       '2013-02-25T00:00:00.000000000', '2013-03-04T00:00:00.000000000',
       '2013-03-11T00:00:00.000000000', '2013-03-18T00:00:00.000000000',
       '2013-03-25T00:00:00.000000000', '2013-04-01T00:00:00.000000000',
       '2013-04-08T00:00:00.000000000', '2013-04-15T00:00:00.000000000',
       '2013-04-22T00:00:00.000000000', '2013-04-29T00:00:00.000000000',
       '2013-05-06T00:00:00.000000000', '2013-05-13T00:00:00.000000000',
       '2013-05-20T00:00:00.000000000', '2013-05-27T00:00:00.000000000',
       '2013-06-03T00:00:00.000000000', '2013-06-10T00:00:00.000000000',
       '2013-06-17T00:00:00.000000000', '2013-06-24T00:00:00.000000000',
       '2013-07-01T00:00:00.000000000', '2013-07-08T00:00:00.000000000',
       '2013-07-15T00:00:00.000000000', '2013-07-22T00:00:00.000000000',
       '2013-07-29T00:00:00.000000000', '2013-08-05T00:00:00.000000000',
       '2013-08-12T00:00:00.000000000', '2013-08-19T00:00:00.000000000',
       '2013-08-26T00:00:00.000000000', '2013-09-02T00:00:00.000000000',
       '2013-09-09T00:00:00.000000000', '2013-09-16T00:00:00.000000000',
       '2013-09-23T00:00:00.000000000', '2013-09-30T00:00:00.000000000',
       '2013-10-07T00:00:00.000000000', '2013-10-14T00:00:00.000000000',
       '2013-10-21T00:00:00.000000000', '2013-10-28T00:00:00.000000000',
       '2013-11-04T00:00:00.000000000', '2013-11-11T00:00:00.000000000',
       '2013-11-18T00:00:00.000000000', '2013-11-25T00:00:00.000000000',
       '2013-12-02T00:00:00.000000000', '2013-12-09T00:00:00.000000000',
       '2013-12-16T00:00:00.000000000', '2013-12-23T00:00:00.000000000',
       '2014-01-06T00:00:00.000000000', '2014-01-13T00:00:00.000000000',
       '2014-01-20T00:00:00.000000000', '2014-01-27T00:00:00.000000000',
       '2014-02-03T00:00:00.000000000', '2014-02-10T00:00:00.000000000',
       '2014-02-17T00:00:00.000000000', '2014-02-24T00:00:00.000000000',
       '2014-03-03T00:00:00.000000000', '2014-03-10T00:00:00.000000000',
       '2014-03-17T00:00:00.000000000', '2014-03-24T00:00:00.000000000',
       '2014-03-31T00:00:00.000000000', '2014-04-07T00:00:00.000000000',
       '2014-04-14T00:00:00.000000000', '2014-04-21T00:00:00.000000000',
       '2014-04-28T00:00:00.000000000', '2014-05-05T00:00:00.000000000',
       '2014-05-12T00:00:00.000000000', '2014-05-19T00:00:00.000000000',
       '2014-05-26T00:00:00.000000000', '2014-06-02T00:00:00.000000000',
       '2014-06-09T00:00:00.000000000', '2014-06-16T00:00:00.000000000',
       '2014-06-23T00:00:00.000000000', '2014-06-30T00:00:00.000000000',
       '2014-07-07T00:00:00.000000000', '2014-07-14T00:00:00.000000000',
       '2014-07-21T00:00:00.000000000', '2014-07-28T00:00:00.000000000',
       '2014-08-04T00:00:00.000000000', '2014-08-11T00:00:00.000000000',
       '2014-08-18T00:00:00.000000000', '2014-08-25T00:00:00.000000000',
       '2014-09-01T00:00:00.000000000', '2014-09-08T00:00:00.000000000',
       '2014-09-15T00:00:00.000000000', '2014-09-22T00:00:00.000000000',
       '2014-09-29T00:00:00.000000000', '2014-10-06T00:00:00.000000000',
       '2014-10-13T00:00:00.000000000', '2014-10-20T00:00:00.000000000',
       '2014-10-27T00:00:00.000000000', '2014-11-03T00:00:00.000000000',
       '2014-11-10T00:00:00.000000000', '2014-11-17T00:00:00.000000000',
       '2014-11-24T00:00:00.000000000', '2014-12-01T00:00:00.000000000',
       '2014-12-08T00:00:00.000000000', '2014-12-15T00:00:00.000000000',
       '2014-12-22T00:00:00.000000000', '2015-01-05T00:00:00.000000000',
       '2015-01-12T00:00:00.000000000', '2015-01-19T00:00:00.000000000',
       '2015-01-26T00:00:00.000000000', '2015-02-02T00:00:00.000000000',
       '2015-02-09T00:00:00.000000000', '2015-02-16T00:00:00.000000000',
       '2015-02-23T00:00:00.000000000', '2015-03-02T00:00:00.000000000',
       '2015-03-09T00:00:00.000000000', '2015-03-16T00:00:00.000000000',
       '2015-03-23T00:00:00.000000000', '2015-03-30T00:00:00.000000000',
       '2015-04-06T00:00:00.000000000', '2015-04-13T00:00:00.000000000',
       '2015-04-20T00:00:00.000000000', '2015-04-27T00:00:00.000000000',
       '2015-05-04T00:00:00.000000000', '2015-05-11T00:00:00.000000000',
       '2015-05-18T00:00:00.000000000', '2015-05-25T00:00:00.000000000',
       '2015-06-01T00:00:00.000000000', '2015-06-08T00:00:00.000000000',
       '2015-06-15T00:00:00.000000000', '2015-06-22T00:00:00.000000000',
       '2015-06-29T00:00:00.000000000', '2015-07-06T00:00:00.000000000',
       '2015-07-13T00:00:00.000000000', '2015-07-20T00:00:00.000000000',
       '2015-07-27T00:00:00.000000000', '2015-08-03T00:00:00.000000000',
       '2015-08-10T00:00:00.000000000', '2015-08-17T00:00:00.000000000',
       '2015-08-24T00:00:00.000000000', '2015-08-31T00:00:00.000000000',
       '2015-09-07T00:00:00.000000000', '2015-09-14T00:00:00.000000000',
       '2015-09-21T00:00:00.000000000', '2015-09-28T00:00:00.000000000',
       '2015-10-05T00:00:00.000000000', '2015-10-12T00:00:00.000000000',
       '2015-10-19T00:00:00.000000000', '2015-10-26T00:00:00.000000000',
       '2015-11-02T00:00:00.000000000', '2015-11-09T00:00:00.000000000',
       '2015-11-16T00:00:00.000000000', '2015-11-23T00:00:00.000000000',
       '2015-11-30T00:00:00.000000000', '2015-12-07T00:00:00.000000000',
       '2015-12-14T00:00:00.000000000', '2015-12-21T00:00:00.000000000',
       '2016-01-04T00:00:00.000000000', '2016-01-11T00:00:00.000000000',
       '2016-01-18T00:00:00.000000000', '2016-01-25T00:00:00.000000000',
       '2016-02-01T00:00:00.000000000', '2016-02-08T00:00:00.000000000',
       '2016-02-15T00:00:00.000000000', '2016-02-22T00:00:00.000000000',
       '2016-02-29T00:00:00.000000000', '2016-03-07T00:00:00.000000000',
       '2016-03-14T00:00:00.000000000', '2016-03-21T00:00:00.000000000',
       '2016-03-28T00:00:00.000000000', '2016-04-04T00:00:00.000000000',
       '2016-04-11T00:00:00.000000000', '2016-04-18T00:00:00.000000000',
       '2016-04-25T00:00:00.000000000', '2016-05-02T00:00:00.000000000',
       '2016-05-09T00:00:00.000000000', '2016-05-16T00:00:00.000000000',
       '2016-05-23T00:00:00.000000000', '2016-05-30T00:00:00.000000000',
       '2016-06-06T00:00:00.000000000', '2016-06-13T00:00:00.000000000',
       '2016-06-20T00:00:00.000000000', '2016-06-27T00:00:00.000000000',
       '2016-07-04T00:00:00.000000000', '2016-07-11T00:00:00.000000000',
       '2016-07-18T00:00:00.000000000', '2016-07-25T00:00:00.000000000',
       '2016-08-01T00:00:00.000000000', '2016-08-08T00:00:00.000000000',
       '2016-08-15T00:00:00.000000000', '2016-08-22T00:00:00.000000000',
       '2016-08-29T00:00:00.000000000', '2016-09-05T00:00:00.000000000',
       '2016-09-12T00:00:00.000000000', '2016-09-19T00:00:00.000000000',
       '2016-09-26T00:00:00.000000000', '2016-10-03T00:00:00.000000000',
       '2016-10-10T00:00:00.000000000', '2016-10-17T00:00:00.000000000',
       '2016-10-24T00:00:00.000000000', '2016-10-31T00:00:00.000000000',
       '2016-11-07T00:00:00.000000000', '2016-11-14T00:00:00.000000000',
       '2016-11-21T00:00:00.000000000', '2016-11-28T00:00:00.000000000',
       '2016-12-05T00:00:00.000000000', '2016-12-12T00:00:00.000000000',
       '2016-12-19T00:00:00.000000000', '2017-01-02T00:00:00.000000000',
       '2017-01-09T00:00:00.000000000', '2017-01-16T00:00:00.000000000',
       '2017-01-23T00:00:00.000000000', '2017-01-30T00:00:00.000000000',
       '2017-02-06T00:00:00.000000000', '2017-02-13T00:00:00.000000000',
       '2017-02-20T00:00:00.000000000', '2017-02-27T00:00:00.000000000',
       '2017-03-06T00:00:00.000000000', '2017-03-13T00:00:00.000000000',
       '2017-03-20T00:00:00.000000000', '2017-03-27T00:00:00.000000000',
       '2017-04-03T00:00:00.000000000', '2017-04-10T00:00:00.000000000',
       '2017-04-17T00:00:00.000000000', '2017-04-24T00:00:00.000000000',
       '2017-05-01T00:00:00.000000000', '2017-05-08T00:00:00.000000000',
       '2017-05-15T00:00:00.000000000', '2017-05-22T00:00:00.000000000',
       '2017-05-29T00:00:00.000000000', '2017-06-05T00:00:00.000000000',
       '2017-06-12T00:00:00.000000000', '2017-06-19T00:00:00.000000000',
       '2017-06-26T00:00:00.000000000', '2017-07-03T00:00:00.000000000',
       '2017-07-10T00:00:00.000000000', '2017-07-17T00:00:00.000000000',
       '2017-07-24T00:00:00.000000000', '2017-07-31T00:00:00.000000000',
       '2017-08-07T00:00:00.000000000', '2017-08-14T00:00:00.000000000',
       '2017-08-21T00:00:00.000000000', '2017-08-28T00:00:00.000000000',
       '2017-09-04T00:00:00.000000000', '2017-09-11T00:00:00.000000000',
       '2017-09-18T00:00:00.000000000', '2017-09-25T00:00:00.000000000',
       '2017-10-02T00:00:00.000000000', '2017-10-09T00:00:00.000000000',
       '2017-10-16T00:00:00.000000000', '2017-10-23T00:00:00.000000000',
       '2017-10-30T00:00:00.000000000', '2017-11-06T00:00:00.000000000',
       '2017-11-13T00:00:00.000000000', '2017-11-20T00:00:00.000000000',
       '2017-11-27T00:00:00.000000000', '2017-12-04T00:00:00.000000000',
       '2017-12-11T00:00:00.000000000', '2017-12-18T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2018-01-08T00:00:00.000000000',
       '2018-01-15T00:00:00.000000000', '2018-01-22T00:00:00.000000000',
       '2018-01-29T00:00:00.000000000', '2018-02-05T00:00:00.000000000',
       '2018-02-12T00:00:00.000000000', '2018-02-19T00:00:00.000000000',
       '2018-02-26T00:00:00.000000000', '2018-03-05T00:00:00.000000000',
       '2018-03-12T00:00:00.000000000', '2018-03-19T00:00:00.000000000',
       '2018-03-26T00:00:00.000000000', '2018-04-02T00:00:00.000000000',
       '2018-04-09T00:00:00.000000000', '2018-04-16T00:00:00.000000000',
       '2018-04-23T00:00:00.000000000', '2018-04-30T00:00:00.000000000',
       '2018-05-07T00:00:00.000000000', '2018-05-14T00:00:00.000000000',
       '2018-05-21T00:00:00.000000000', '2018-05-28T00:00:00.000000000',
       '2018-06-04T00:00:00.000000000', '2018-06-11T00:00:00.000000000',
       '2018-06-18T00:00:00.000000000', '2018-06-25T00:00:00.000000000',
       '2018-07-02T00:00:00.000000000', '2018-07-09T00:00:00.000000000',
       '2018-07-16T00:00:00.000000000', '2018-07-23T00:00:00.000000000',
       '2018-07-30T00:00:00.000000000', '2018-08-06T00:00:00.000000000',
       '2018-08-13T00:00:00.000000000', '2018-08-20T00:00:00.000000000',
       '2018-08-27T00:00:00.000000000', '2018-09-03T00:00:00.000000000',

In [8]:
# check how many weeks covered
dengue_df["Week"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53])

In [9]:
dengue_df.shape  # total number of cases

(9363, 16)

In [10]:
# check if no nulls on the date
# if no nulls, use as basis for start_of_week
dengue_df["Date"].isna().value_counts()

False    9363
Name: Date, dtype: int64

In [11]:
# filter to zamboanga
zambo_dengue_df = dengue_df[dengue_df["Municipality"] == "Zamboanga City"]
zambo_dengue_df

,Source,Year,Month,Week,Date,Region,PSGC_Region,Municipality,PSGC_Municipality,ICD,Disease,Cases,Claims,Deaths,Case_Type,Date_Type
36,PIDSR-DOH,2008.0,1.0,1,2008-01-07,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",NaN,NaN,NaN,Morbidity,Weekly
120,PIDSR-DOH,2008.0,1.0,2,2008-01-07,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",NaN,NaN,NaN,Morbidity,Weekly
204,PIDSR-DOH,2008.0,1.0,3,2008-01-14,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",NaN,NaN,NaN,Morbidity,Weekly
288,PIDSR-DOH,2008.0,1.0,4,2008-01-21,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",NaN,NaN,NaN,Morbidity,Weekly
372,PIDSR-DOH,2008.0,1.0,5,2008-01-28,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",NaN,NaN,NaN,Morbidity,Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74933,FHSIS_Zamboanga,2021.0,8.0,30,2021-07-19,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",1.0,NaN,NaN,Morbidity,Monthly
74938,FHSIS_Zamboanga,2021.0,9.0,35,2021-08-23,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",3.0,NaN,NaN,Morbidity,Monthly
74943,FHSIS_Zamboanga,2021.0,10.0,39,2021-09-20,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",0.0,NaN,NaN,Morbidity,Monthly
74948,FHSIS_Zamboanga,2021.0,11.0,44,2021-10-25,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",0.0,NaN,NaN,Morbidity,Monthly
74953,FHSIS_Zamboanga,2021.0,12.0,48,2021-11-22,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",0.0,NaN,NaN,Morbidity,Monthly

In [19]:
# Fill nans with 0
zambo_dengue_df["Cases"] = zambo_dengue_df["Cases"].fillna(0)
zambo_dengue_df

,Source,Year,Month,Week,Date,Region,PSGC_Region,Municipality,PSGC_Municipality,ICD,Disease,Cases,Claims,Deaths,Case_Type,Date_Type
36,PIDSR-DOH,2008.0,1.0,1,2008-01-07,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",0.0,NaN,NaN,Morbidity,Weekly
120,PIDSR-DOH,2008.0,1.0,2,2008-01-07,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",0.0,NaN,NaN,Morbidity,Weekly
204,PIDSR-DOH,2008.0,1.0,3,2008-01-14,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",0.0,NaN,NaN,Morbidity,Weekly
288,PIDSR-DOH,2008.0,1.0,4,2008-01-21,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",0.0,NaN,NaN,Morbidity,Weekly
372,PIDSR-DOH,2008.0,1.0,5,2008-01-28,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",0.0,NaN,NaN,Morbidity,Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74933,FHSIS_Zamboanga,2021.0,8.0,30,2021-07-19,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",1.0,NaN,NaN,Morbidity,Monthly
74938,FHSIS_Zamboanga,2021.0,9.0,35,2021-08-23,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",3.0,NaN,NaN,Morbidity,Monthly
74943,FHSIS_Zamboanga,2021.0,10.0,39,2021-09-20,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",0.0,NaN,NaN,Morbidity,Monthly
74948,FHSIS_Zamboanga,2021.0,11.0,44,2021-10-25,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",0.0,NaN,NaN,Morbidity,Monthly
74953,FHSIS_Zamboanga,2021.0,12.0,48,2021-11-22,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE, HEMORRHAGIC",0.0,NaN,NaN,Morbidity,Monthly

# Visualizations of Cases

## Weekly average cases

Number of cases overall

In [13]:
zambo_dengue_df.describe()

              Year       Month        Week       Cases  Claims  Deaths
count   792.000000  792.000000  792.000000  329.000000     0.0     0.0
mean   2015.090909    6.320707   26.529040   47.902736     NaN     NaN
std       4.352580    3.435249   15.020733   54.725727     NaN     NaN
min    2008.000000    1.000000    1.000000    0.000000     NaN     NaN
25%    2011.000000    3.000000   13.750000    9.000000     NaN     NaN
50%    2015.000000    6.000000   26.500000   28.000000     NaN     NaN
75%    2019.000000    9.000000   39.250000   63.000000     NaN     NaN
max    2022.000000   12.000000   53.000000  343.000000     NaN     NaN

In [34]:
agg_year = zambo_dengue_df.groupby(["Year"])["Cases"].sum().reset_index(name="Cases")
agg_year.sort_values("Cases", ascending=False)

      Year   Cases
4   2012.0  5389.0
14  2022.0  4056.0
5   2013.0  1979.0
10  2018.0  1784.0
11  2019.0  1165.0
12  2020.0   438.0
13  2021.0   348.0
3   2011.0   333.0
9   2017.0   238.0
0   2008.0    12.0
1   2009.0    11.0
2   2010.0     7.0
6   2014.0     0.0
7   2015.0     0.0
8   2016.0     0.0

Weekly

In [14]:
agg_dengue_df = (
    zambo_dengue_df.groupby(["Date"])["Cases"].sum().reset_index(name="Cases")
)
agg_dengue_df

          Date  Cases
0   2008-01-07    0.0
1   2008-01-14    0.0
2   2008-01-21    0.0
3   2008-01-28    0.0
4   2008-02-04    0.0
..         ...    ...
762 2022-11-21   34.0
763 2022-11-28   37.0
764 2022-12-05   40.0
765 2022-12-12   39.0
766 2022-12-19   21.0

[767 rows x 2 columns]

In [15]:
agg_dengue_df.describe()

            Cases
count  767.000000
mean    20.547588
std     43.242229
min      0.000000
25%      0.000000
50%      0.000000
75%     20.000000
max    343.000000

Plot all cases over time with the possible threshold.

In [ ]:
sns.lineplot(x="Date", y="Cases", data=zambo_dengue_df)

# Add a horizontal line for the threshold
sample_threshold = 44
plt.axhline(sample_threshold, color="red", linestyle="--", label="Threshold")
# Show the plot
plt.show()

In [ ]:
# Extract unique years from the 'start_of_week' column
years = zambo_dengue_df["Year"].unique()

y_min = zambo_dengue_df["Cases"].min()
y_max = zambo_dengue_df["Cases"].max()

# Calculate the number of rows and columns for subplots
num_rows = len(years) // 2 + (len(years) % 2)  # Adjust for odd number of years
num_cols = 2

# Create a single figure with subplots arranged in two columns
fig, axes = plt.subplots(nrows=num_rows, ncols=num_cols, figsize=(12, 6 * num_rows))

# Flatten the axes array for ease of indexing
axes = axes.flatten()

for i, year in enumerate(years):
    ax = axes[i]
    if i >= len(years):
        ax.axis("off")  # Turn off unused subplots
        continue

    ax.set_title(f"Dengue Cases in {year}")

    # Filter the data for the current year
    year_data = zambo_dengue_df[zambo_dengue_df["Date"].dt.year == year]

    # Create a Seaborn line plot for the current year's data
    sns.lineplot(
        x="Date",
        y="Cases",
        data=year_data,
        marker="o",
        label="Cases",
        ax=ax,
    )

    # Add a horizontal line for the threshold
    ax.axhline(sample_threshold, color="red", linestyle="--", label="Threshold")
    ax.set_ylim(y_min, y_max)

    # Customize the plot
    ax.set_xlabel("Start of Week")
    ax.set_ylabel("Number of Cases")
    ax.legend()

# Adjust the layout to prevent overlap of subplots
plt.tight_layout()

# Show the combined figure with subplots
plt.show()

# Setting the definition of an outbreak

We define an outbreak as follows:

1. The **start** of an outbreak occurs when the week's cases equal to or higher than a threshold. 

    - The **threshold** is defined as the 75th percentile of weekly cases based on years when a substantial number of cases are recorded. 

2. The **end** of an outbreak occurs during the week when cases fall below the threshold for at least 2 weeks.


The chosen threshold is **44** cases.

In [46]:
top_years_list = [
    2011.0,
    2012.0,
    2013.0,
    2017.0,
    2018.0,
    2019.0,
    2020.0,
    2021.0,
    2022.0,
]
subset_zamb = zambo_dengue_df[zambo_dengue_df["Year"].isin(top_years_list)]
subset_zamb["Cases"].describe()

count    480.000000
mean      32.770833
std       50.498079
min        0.000000
25%        0.000000
50%       10.000000
75%       44.000000
max      343.000000
Name: Cases, dtype: float64

# Labeling data based on threshold definition

In [38]:
# Set your threshold value
OUTBREAK_THRESHOLD = 44

# Create a new column 'outbreak' initialized with zeros
zambo_dengue_df["outbreak"] = 0

# Track weeks satisfying the threshold, and count consecutive outbreak weeks 
consecutive_weeks_below_threshold = 0
previous_outbreak = False

for index, row in zambo_dengue_df.iterrows():
    if row["Cases"] > OUTBREAK_THRESHOLD:
        consecutive_weeks_below_threshold = 0
        previous_outbreak = True
        zambo_dengue_df.at[index, "outbreak"] = 1
    else:
        # check if previous week was an outbreak
        # if yes, continue to tag current week as outbreak
        # part of observation period
        if previous_outbreak and consecutive_weeks_below_threshold < 2:
            zambo_dengue_df.at[index, "outbreak"] = 1
            consecutive_weeks_below_threshold += 1
        elif consecutive_weeks_below_threshold == 2:
            zambo_dengue_df.at[index, "outbreak"] = 0
            previous_outbreak = False
        else:
            zambo_dengue_df.at[index, "outbreak"] = 0

/tmp/ipykernel_23147/501382131.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zambo_dengue_df["outbreak"] = 0

In [39]:
zambo_dengue_df.head()

,Source,Year,Month,Week,Date,Region,PSGC_Region,Municipality,PSGC_Municipality,ICD,Disease,Cases,Claims,Deaths,Case_Type,Date_Type,outbreak,outbreak_group
36,PIDSR-DOH,2008.0,1.0,1,2008-01-07,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",0.0,NaN,NaN,Morbidity,Weekly,0,0
120,PIDSR-DOH,2008.0,1.0,2,2008-01-07,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",0.0,NaN,NaN,Morbidity,Weekly,0,0
204,PIDSR-DOH,2008.0,1.0,3,2008-01-14,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",0.0,NaN,NaN,Morbidity,Weekly,0,0
288,PIDSR-DOH,2008.0,1.0,4,2008-01-21,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",0.0,NaN,NaN,Morbidity,Weekly,0,0
372,PIDSR-DOH,2008.0,1.0,5,2008-01-28,Region IX,PH090000000,Zamboanga City,PH097332000,A90-A91,"FEVER, DENGUE",0.0,NaN,NaN,Morbidity,Weekly,0,0

In [41]:
# Cout outbreak vs non outbreak weeks
zambo_dengue_df["outbreak"].value_counts(dropna=False)

0    625
1    167
Name: outbreak, dtype: int64

In [40]:
zambo_dengue_df.to_csv(
    PROCESSED_DIR / "pidsr_city_weekly_zamboanga_labeled_v2.csv", index=False
)

## Inspect labeled data

Jumps in the lineplots can be ignored. Sudden jumps just indicate a change in the outbreak label.

In [ ]:
sns.lineplot(
    x="Date",
    y="Cases",
    data=zambo_dengue_df[(zambo_dengue_df["Year"] == 2018)],
    hue="outbreak",
    marker="o",
)

# Add a horizontal line for the threshold
plt.axhline(44, color="red", linestyle="--", label="Threshold")
# Show the plot
plt.show()

## Get Outbreaks Summary table

In [43]:
summary_city = create_outbreak_summary(zambo_dengue_df, "outbreak")
summary_city

/home/abbymoreno/lacuna-fund-climate-health/notebooks/baseline-model/../../src/model_data_prep.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tagged_df.sort_values(by=["Date"], inplace=True)
/home/abbymoreno/lacuna-fund-climate-health/notebooks/baseline-model/../../src/model_data_prep.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tagged_df["outbreak_group"] = outbreak_groups

    outbreak_group start_date   end_date  actual_length_weeks
0                1 2012-01-02 2012-05-07                   20
1                3 2012-05-21 2012-11-12                   26
2                5 2012-11-26 2013-05-20                   25
3                7 2013-06-10 2013-07-29                    8
4                9 2018-06-18 2018-09-10                   13
5               11 2018-09-24 2018-10-15                    4
6               13 2018-11-12 2019-02-25                   16
7               15 2019-04-22 2019-05-06                    3
8               17 2019-08-19 2019-09-16                    5
9               19 2019-10-21 2019-11-04                    3
10              21 2019-11-25 2019-12-09                    3
11              23 2022-01-03 2022-10-10                   41

In [44]:
# summary_city.to_csv(LGU_DIR / "outbreaks_city_weekly_zamboanga_v1.csv", index=False)